@using Domain
@using Radzen
@using Radzen.Blazor
@inject DialogService DialogService

<RadzenTemplateForm TItem="Domain.StationInfoModel" Data="@station" Submit="OnSubmit" Style="padding: 16px;">
    <div class="row">
        <div class="col-md-12">
            <label class="rz-form-label">Name</label>
            <RadzenTextBox @bind-Value="station.Name" Style="width:100%" />
        </div>
        <div class="col-md-12" style="margin-top:10px;">
            <label class="rz-form-label">Path</label>
            <RadzenTextBox @bind-Value="station.Path" Style="width:100%" />
        </div>
    </div>

    <div class="row" style="margin-top:16px;">
        <div class="col-md-12" style="display:flex;justify-content:flex-end;gap:10px;">
            <RadzenButton ButtonType="ButtonType.Button" Text="Cancel" ButtonStyle="ButtonStyle.Light" Click="OnCancel" />
            <RadzenButton ButtonType="ButtonType.Submit" Text="Save" ButtonStyle="ButtonStyle.Primary" />
        </div>
    </div>
</RadzenTemplateForm>

@code {
    [Parameter]
    public StationInfoModel? Initial { get; set; }

    private StationInfoModel station = new StationInfoModel();

    protected override void OnInitialized()
    {
        if (Initial != null)
        {
            station = new StationInfoModel
            {
                Id = Initial.Id,
                Name = Initial.Name,
                Path = Initial.Path,
                Tags = Initial.Tags,
                OffsetConfig = Initial.OffsetConfig ?? new OffsetConfigModel()
            };
        }
    }

    private void OnSubmit()
    {
        DialogService.Close(station);
    }

    private void OnCancel()
    {
        DialogService.Close();
    }
}


