@page "/reservoir"
@using System.Text.RegularExpressions
@using System.Timers
@using UI.StaticClass
<style>
    .rz-fieldset-content {
        padding: 0 !important;
    }

    .rz-fieldset {
        background-color: #F0F0F0;
    }
</style>
<RadzenPanel class="rz-p-4 rz-border-radius-2 rz-mx-auto">
    <figure>
        <RadzenRow>
            <RadzenColumn SizeXS="12" SizeMD="4" class="rz-mx-auto">
                <RadzenFieldset Text="@_localizer["Hồ chứa"]">
                    <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Left">
                        <RadzenRow>
                            <RadzenColumn SizeXS="12" SizeMD="12" class="rz-mx-auto p-0"
                                Style="background-color:#F0F0F0;">
                                @((MarkupString)_svg)
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenColumn>
            <RadzenColumn SizeXS="12" SizeMD="4" class="rz-mx-auto">
            </RadzenColumn>
            <RadzenColumn SizeXS="12" SizeMD="4" class="rz-mx-auto">
                <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Left">
                    <div class="map-container" style="width: 100%; height: calc(100vh/2 - 100px);">
                        <iframe src="https://vrain.vn/61/overview?public_map=windy"
                            style="width: 100%; height: 100%; border: none; border-radius: 4px;" allowfullscreen>
                        </iframe>
                    </div>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </figure>
</RadzenPanel>

@code {
    string _svg;
    private System.Timers.Timer _timer;
    protected override void OnInitialized()
    {
        LayoutState.SetTitle("Hồ chứa");
        using var stream = this.GetType().Assembly.GetManifestResourceStream("UI.wwwroot.images.generals.hochua.svg");
        stream.Seek(0, SeekOrigin.Begin);
        StreamReader reader = new StreamReader(stream);
        _svg = reader.ReadToEnd();
        base.OnInitialized();
        RefreshData(null, null);
        #region Timer refresh data
        _timer = new System.Timers.Timer(GlobalVariable.ConfigSystem.TimerInterval);
        _timer.Elapsed += RefreshData;
        _timer.Enabled = true;
        #endregion
    }

    private async void RefreshData(object? sender, ElapsedEventArgs? e)
    {
        try
        {
            //var realtimeData = await _ft02Service.GetFirstOrDefaultRealTimeDisplay();
            var realtimeData = FakeDataGenerator.GenerateLocation();
            var data = realtimeData;
            await _jsRuntime.InvokeVoidWithOriginalCaseAsync("updateSvgFillOverflow", data);
            StateHasChanged();
        }
        catch { }
    }

    public void Dispose()
    {
        _timer.Dispose();
    }
}
