@page "/cong1"

<div class="cong-embed-wrap">
    <iframe class="cong-embed-iframe"
            src="https://simc.id.vn/simc_dti/cs1/coso1.html"
            title="@_localizer["Cống Số 1"]"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" />
</div>

<style>
    .cong-embed-wrap {
        width: 100%;
        height: calc(100vh - 120px);
        min-height: 480px;
    }

    .cong-embed-iframe {
        width: 100%;
        height: 100%;
        border: 0;
        display: block;
    }
</style>
