@page "/water-level"
@using System.Timers
@using Domain.Models
@using UI.StaticClass
@attribute [Authorize(Policy = "Admin")]
<style>
    h2 {
        text-align: center;
        color: #003366;
    }

    .chart-container {
        position: relative;
        width: 100%;
    }

    #riverChart {
        width: 100% !important;
        max-height: 500px !important;
    }
</style>

<RadzenPanel class="rz-p-4 rz-border-radius-2 rz-mx-auto">
    <figure>
        <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center">
            <RadzenRow>
                <RadzenColumn SizeXS="12" SizeMD="12" class="rz-mx-auto">
                    @((MarkupString)_svg)
                </RadzenColumn>
            </RadzenRow>
        </RadzenStack>
    </figure>
</RadzenPanel>
<RadzenPanel class="rz-p-4 rz-border-radius-2 rz-mx-auto">
    <div class="chart-container">
        <canvas id="riverChart"></canvas>
    </div>
</RadzenPanel>
@code {
    string _svg;
    private System.Timers.Timer _timer;
    private List<FT07_ChartMucNuocModel> _ft07ChartData = new();
    private RealtimeDisplayModel realtimeData = new();
    protected override async Task OnInitializedAsync()
    {
        LayoutState.SetTitle(_localizer["Mực nước"]);
        using var stream = this.GetType().Assembly.GetManifestResourceStream("UI.wwwroot.images.generals.MNGG.svg");
        stream.Seek(0, SeekOrigin.Begin);
        StreamReader reader = new StreamReader(stream);
        _svg = reader.ReadToEnd();
        base.OnInitialized();
        await LoadRealtimeData();
        await GetChartData();
        #region Timer refresh data
        _timer = new System.Timers.Timer(GlobalVariable.ConfigSystem.TimerInterval);
        _timer.Elapsed += RefreshData;
        _timer.Enabled = true;
        #endregion
    }

    private async Task LoadRealtimeData()
    {
        try
        {
            realtimeData = await _ft02Service.GetFirstOrDefaultRealTimeDisplay();
            await _jsRuntime.InvokeVoidWithOriginalCaseAsync("updateSvgFillOverflow", realtimeData);
            StateHasChanged();
        }
        catch { }
    }

    private async void RefreshData(object? sender, ElapsedEventArgs? e)
    {
        try
        {
            await LoadRealtimeData();
            await UpdateZThucValueOnly();
        }
        catch { }
    }

    public void Dispose()
    {
        _timer.Dispose();
    }

    public async Task GetChartData()
    {
        var data = await _ft07Service.GetAllAsync();
        if (data?.Data != null)
        {
            _ft07ChartData = data.Data.Select(item => new FT07_ChartMucNuocModel(item)).ToList();
            await GetChartZThucData();
        }
    }

    private void CalculateZThucValues()
    {
        foreach (var itemModel in _ft07ChartData)
        {
            if (itemModel == _ft07ChartData.Last() && string.IsNullOrEmpty(itemModel.Z_Thuc))
            {
                itemModel.Z_ThucValue = 1.717;
            }
            else
            {
                var propertyName = itemModel.Z_Thuc;
                if (!string.IsNullOrEmpty(propertyName))
                {
                    var propInfo = realtimeData.CalculatorValue.GetType().GetProperty(propertyName);
                    if (propInfo != null)
                    {
                        var value = propInfo.GetValue(realtimeData.CalculatorValue);
                        itemModel.Z_ThucValue = value == null ? null : Convert.ToDouble(value);
                    }
                }
                else
                {
                    itemModel.Z_ThucValue = null;
                }
            }
        }
    }

    public async Task GetChartZThucData()
    {
        CalculateZThucValues();
        await _jsRuntime.InvokeVoidAsync("updateChartWaterLevel", _ft07ChartData);
    }

    public async Task UpdateZThucValueOnly()
    {
        CalculateZThucValues();
        await _jsRuntime.InvokeVoidAsync("updateZThucValue", _ft07ChartData);
    }
}
